.img-preview {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 4px;
  transition: transform 0.3s ease;
}

.d-flex.justify-content-center.gap-3 {
  gap: 10px;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #169e88;
  border-color: #169e88;
}

.page-link {
  color: #169e88;
}

.search-btn {
  height: 38px !important;
  padding-top: 8px !important;
  border-radius: 20px !important;
}

.search-btn:active {
  height: 38px !important;
  padding-top: 8px !important;
  border-radius: 20px !important;
  background-color: #169e88 !important;
}

.download-btn:active {
  background-color: #169e88 !important;
  color: #fff !important;
}
