.contact-us-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-us-section h2 {
  font-size: 26px;
  margin-bottom: 5px;
  color: #333;
}

.contact-btn .icon {
  width: 20px;
  height: 20px;
  fill: white;
}

.suggestion-form-wrapper {
  width: 100%;
  margin-top: 20px;
}

.suggestion-form .form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.suggestion-form .form-control {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  resize: none;
}

.btn-primary {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #0056b3;
  color: #169e88;
}

.contact-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin: 10px 0;
}

.contact-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 250px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  transition:
    transform 0.3s,
    box-shadow 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-option:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.contact-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #169e88;
  color: #fff;
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
  width: 100%;
  text-align: center;
}

.contact-btn:hover {
  background-color: #128f77;
  color: #fff;
}

.contact-label {
  font-weight: bold;
}
.contact-label:hover {
  color: #fff;
}

.contact-info {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}

.contact-option .icon {
  width: 24px;
  height: 24px;
  fill: white;
}
.phone-svg {
  width: 16px;
}

.req_customer_section {
  margin: 2rem !important;
}

.btn.btn-primary.custom-back {
  font-family: var(--font-family-sans-serif) !important;
}

.btn.btn-primary.custom-back .back-svg {
  margin-right: 2px !important;
}

.mandatory:after {
  content: "*";
  color: red;
  margin-left: 2px;
}

@media only screen and (min-width: 350px) and (max-width: 992px) {
  .phone_responsive {
    margin: 0 !important;
  }

  .custom-back {
    margin-top: 10px;
    margin-left: 10px;
  }
}
